*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app{
    text-align: center;
  
}

.header{
    width: 100%;
    height: 100px;
    background-color: rgb(37, 88, 208);
    h1{
        color: aliceblue;
        line-height: 100px;
    }
}

.main{
    width: 100%;
    height: 350px;
    background-color:rgb(124, 158, 238);
    h1{
        color: rgb(71, 70, 70);
        line-height:300px;
    }
}

.button{
    margin-top: 50px;
   
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        width: 154px;
        height: 36px;
        color: #ffffff;
        font-size: 19px;
        line-height: 36px;
        background:grey;
        padding-top: 10px 20px 10px 20px;
        text-decoration: none;
        margin-bottom: 41px;
        border: none;
        cursor: pointer;
       
    }

.addForm{
    text-align: center;
    input{
        height: 42px;
        outline: none;
        font-size: 16px;
        font-size: 400;
        color: #333;
        border: 1px solid #cccccc;
        border-radius: 5px;
        margin-right: 8px ;
        padding: 10px;
    }
}

.list{
    text-align: center;
    margin-top: 20px;
}

.list-array{

    display: flex;
    flex-wrap: wrap;
    cursor: move;
    margin-top: 10px;
    p{  
        color:grey;
        font-size: 24px;
        margin-right: 150px;
        margin-left: 450px;
        width: 100px;
        
    }
    button{
        -webkit-border-radius: 5;
        -moz-border-radius: 5;
        border-radius: 5px;
        width: 100px;
        height: 36px;
        color: #ffffff;
        font-size: 19px;
        line-height: 36px;
        background:grey;
        padding-top: 10px 20px 10px 20px;
        text-decoration: none;
        margin-bottom: 41px;
        border: none;
        cursor: pointer;
        margin-right: 1rem;
      

    }
}

a[href] {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;

  }


  .complete{
     text-decoration-style:solid ;
     text-decoration-line:line-through;
     text-decoration-color:#ff6c6c;
     opacity: 0.6;
  }


  .drag-indicator{
    width: 100%;
    height: 5px;
    background-color: #ff6c6c;
    display: block;
    margin: 0 5px;
    
  }


  .dragPage{
    width: 100%;
    height: 100%;
    background-color: #333;
  }



.drag-header{
   
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    
  }



  .drag-n-drop{
    padding: 0.5rem;
    text-align: center;
    display: grid;
    gap: .5rem;
    width: 100%;
    height:100%;
    grid-template-columns: repeat(auto-fill,300px);
    font-size: 15px;
    align-items: start;
  }


  .dnd-group{
    background-color: rgb(97, 96, 96);
    padding:  0.5rem 0.5rem;
    border-radius: 5px;

  }

  .dnd-item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    background-color: white;
    color: #333;
    border-radius: 5px;

}

.group-title{
  margin-bottom: .5rem;
}

.dnd-item:not(:last-of-type){
    margin-bottom: .5rem;
}


.current{
    background-color: #333;
}

 